.banner {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	background: rgba(0,0,0,0.7);
	height: calc(100vh - 250px);
	background-size: cover;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	background-attachment: fixed;
}
.banner-wrapper {
	width: 100%;
	max-width: 650px;
	background: #fff;
	padding: 20px;
}
